body {
    display: flex;
    justify-content: center;
    background-color: #004f32;
    background-image: url("./old-mathematics.png");
}

h1 {
    align-self: center;
    color: #004f32;
}

#calc-container {
    display: flex;
    flex-flow: column;
    width: 280px;
    background-color: #9f9e9e;
    border: 3px dotted rgb(59, 59, 59);
    border-radius: 4px;
    padding: 8px;
}

#fields {
    display: flex;
    flex-flow: column;
}

#fields > * {
    display: flex;
    flex-flow: row;
    width: 100%;
    justify-content: space-between;
}
